    /* le composant PlayersList */
    .carte{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 1200px;
      background-color: green; 
      margin: auto;
    }
  
      .carte >.child {
        width: 33,33%;
      }
/*le composant Player*/
    .image_joueur{
      width: 200px;
      height: 200px;
      border-radius: 50%; 
    }

    .details_joueur {
      width: 200px;
      height: 200px;
    }

    .cards{
      display: flex;
     
    }