h1{
    text-align: center;
}

body {
    background-image: url('../public/uefa.JPG'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.trophe {
    float: right;
    position: relative;
  
    
}

    /* le composant PlayersList */
    .carte{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 1000px;
        margin-right: 200px;
        /* background-color: green;  */
        /* margin: auto; */
        position: relative;
        top: -500px;
      }
    
        .carte >.child {
          width: 33,33%;
        }
  /*le composant Player*/
      .image_joueur{
        width: 200px;
        height: 200px;
        border-radius: 50%; 
        margin-top: 10px;
      }
  
      .details_joueur {
        width: 150px;
        height: 155px;
        text-align: center;
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
       
        margin-left: 20px;
        margin-top: 50px;
        border-radius: 10px;
        background-image: url('/public/cartebg.png');
      }
  
      .cards{
        display: flex;
       
      }

      .drapeau_pays  {
        margin-left: 5px;
        margin-bottom: 4px;
        width: 50px;
        height: 30px;
      }
      .drapeau_club {
        /* margin-left: 5px; */
        width: 50px;
        height: 40px;
      }